@charset "UTF-8";

.aboutlink:link{
	color: #008080;
	text-decoration: none;
	border-bottom: 1px solid #008080;
	border-left: 19px solid #008080;
	padding: 5px;
}
.aboutlink:visited{
	color: #008080;
	text-decoration: none;
	border-bottom: 1px solid #008080;
	border-left: 19px solid #008080;
	
}
.aboutlink:hover{
	color: #fca943;
	text-decoration: none;
	border-left: 0px;
	border-right: 19px solid #fca943;
	border-bottom: 1px solid #fca943;
}
.aboutlink:active{
	color: #000000;
	text-decoration: none;
	border: 3px #ff0000;
}
